# Database Connection String
DATABASE_URL="postgresql://neondb_owner:password@ep-example-123456.us-east-2.aws.neon.tech/neondb?sslmode=require"

# Admin Panel Security & Token
ADMIN_PASSWORD="sih2026admin@dsmnru"
ADMIN_TOKEN="sih2026_admin_secret_token_key"

# Fixed Institutional Constants (Injected automatically into Authorization Letters)
COLLEGE_NAME="Institute of Engineering & Technology (IET), Dr. Shakuntala Misra National Rehabilitation University, Mohaan Road, Lucknow - 226017"
DEAN_NAME="Prof. (Dr.) Dean / Director, IET DSMNRU"

# Node Environment
NODE_ENV="development"
